<div class="profile-container">
  <app-wallet-connect (connected)="onWalletConnected($event)"></app-wallet-connect>

  <create-pot-btn></create-pot-btn>

  <div *ngIf="isLoading" class="loading-message">
    <p>Loading your pots...</p>
  </div>
  
  <div *ngIf="!isLoading && hasUserPots(); else noPots">
    <pot-preview
      *ngFor="let contractAddress of userPotAddresses"
      [contractAddress]="contractAddress"
    ></pot-preview>
  </div>

  <!-- Fallback Message -->
  <ng-template #noPots>
    <p *ngIf="!isLoading && message" class="error-message">{{ message }}</p>
  </ng-template>
</div>