# === Angular build artifacts ===
/dist
/tmp
/out-tsc
/bazel-out
/.angular/cache

# === Node ===
/node_modules
npm-debug.log
yarn-error.log

# === Hardhat / Solidity ===
/artifacts
/cache
/coverage
/typechain
/typechain-types

# === Environment files ===
.env
.env.*
.env.local
.env.development
.env.production

# === VS Code / Editors ===
.idea/
.project
.classpath
.c9/
*.launch
.settings/
/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# === Miscellaneous ===
/libpeerconnection.log
testem.log
/typings
.sass-cache/
connect.lock

# === System files ===
.DS_Store
Thumbs.db

.vscode/*
!.vscode/settings.json